<div class="alert alert-warning" id="your-uniq-ID-120">
    <div class="container">
        <span class="icon icon-alert"></span>
        <div>
            <strong>Sisselogimine ebaonnestus</strong>
            <span>Veendu, et sisestasid Mobiili-ID PIN1-koodi, mitte ID-kaardi PIN1-koodi</span>
            <a class="read-more" href="#">Proovi uuesti</a>
        </div>
        <a href="javascript:$('#your-uniq-ID-120').alert('close');void(0);" class="icon icon-delete close-btn"></a>
    </div>
</div>