<div class="alert alert-info" id="your-uniq-ID-123">
    <div class="container">
        <span class="icon icon-info"></span>
        <div>
            <span>Oleme uuendanud mingisugust asja, kui tahad rohkem infot, siis tee omad valikud</span>
            <a class="read-more" href="#">
                <span class="icon icon-arrow-right"></span>Loe l&auml;hemalt
            </a>
        </div>
        <a href="javascript:$('#your-uniq-ID-123').alert('close');void(0);" class="icon icon-delete close-btn"></a>
    </div>
</div>