<div class="alert alert-info" id="your-uniq-ID-124" data-toggle="collapse-alert">
    <div class="container">
        <span class="icon icon-info"></span>
        <div>
            <h4>Oleme midagi suurt teinud</h4>
            <span>Oleme uuendanud mingisugust asja, kui tahad rohkem infot, siis tee omad valikud. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
            <a class="read-more" href="#">
                <span class="icon icon-arrow-down"></span>Loe l&auml;hemalt
            </a>
        </div>
        <a href="javascript:$('#your-uniq-ID-124').alert('close');void(0);" class="icon icon-delete close-btn"></a>
    </div>
</div>