<nav class="navbar navbar-default menu__main" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu__main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="mobile-icons visible-xs">
                <div class="pull-left">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon-tree-deciduous"></span>
                        <span class="show__scroll--top">Elion</span>
                    </a>
                </div>
                <div class="pull-right">
                    <a href="#modal-user" data-toggle="modal" data-target="#modal-user"><span class="glyphicon glyphicon-user"></span></a>
                    <span class="glyphicon glyphicon glyphicon-euro"></span>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>

            <!-- <a class="navbar-brand" href="#">Brand</a> -->
        </div>
        <div class="collapse navbar-collapse" id="menu__main">
            <ul class="nav navbar-nav font__size--scaling">
                <li>
                    <a class="navbar-brand" href="#">
                        <span class="icon icon-teliasonera"></span>
                        <span class="show__scroll--top">Elion</span>
                    </a>
                </li>
                <li class="dropdown megamenu active">
                    <a href="#" class="active dropdown-toggle" data-toggle="dropdown">Internet</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Internetiteenused</a>
                            <ul>
                                <li>alamleht</li>
                                <li>alamleht</li>
                                <li>alamleht</li>
                                <li>alamleht</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Arvutikaitse</a>
                            <ul>
                                <li>alamleht</li>
                                <li>alamleht</li>
                                <li>alamleht</li>
                                <li>alamleht</li>
                            </ul>
                        </li>
                        <li><a href="#">Interneti pysiyhendus</a></li>
                        <li><a href="#">Domeeni registreerimine</a></li>
                        <li><a href="#">Tulevikuvork</a></li>
                        <li><a href="#">Kodulehe majutus</a></li>
                        <li><a href="#">Traadita internet</a></li>
                        <li><a href="#">Suhtlus.ee</a></li>
                    </ul>
                </li>
                <li><a href="#">Telefon</a></li>
                <li><a href="#">DigiTV</a></li>
                <li><a href="#">Koduleht ja e-post</a></li>
                <li><a href="#">IT-teenused</a></li>
                <li><a href="#">Liising ja arve</a></li>
                <li><a href="#">Iseteenindus</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hide-scroll-top">
                    <a href="#modal-user" data-toggle="modal" data-target="#modal-user"><span class="glyphicon glyphicon-user"></span></a>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li class="hide-scroll-top"><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                <li class=""><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </div>
</nav>