<nav class="navbar navbar-default menu__main" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu__main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="mobile-icons visible-xs">
                <div class="pull-left">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon-tree-deciduous"></span>
                        <span class="show__scroll--top">Elion</span>
                    </a>
                </div>
                <div class="pull-right">
                    <a href="#modal-user" data-toggle="modal" data-target="#modal-user"><span class="glyphicon glyphicon-user"></span></a>
                    <span class="glyphicon glyphicon glyphicon-euro"></span>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>

            <!-- <a class="navbar-brand" href="#">Brand</a> -->
        </div>
        <div class="collapse navbar-collapse" id="menu__main">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="#">
                        <span>Elion</span>
                        <!--<span class="icon icon-teliasonera"></span>
                        <span class="show__scroll--down">Elion</span>-->
                    </a>
                </li>
                <li class="dropdown megamenu active">
                    <a href="#" class="active dropdown-toggle" data-toggle="dropdown">Internet</a>
                    <div class="dropdown-menu" role="menu">
                        <div class="container">
                            <div class="four-col">
                                <ul>
                                    <li>
                                        <a href="#">nutiTV t</a>
                                    </li>
                                    <li>
                                        <a href="#">submenu link 5</a>
                                    </li>

                                    <li>
                                        <table class="has-child"><tr><td>
                                            <a href="#">submenu link 1</a>
                                            <ul>
                                                <li><a href="#">sub safsadf 1</a></li>
                                                <li><a href="#">sub safsadf 2</a></li>
                                                <li><a href="#">sub safsadf 3</a></li>
                                                <li><a href="#">sub safsadf 4</a></li>
                                                <li><a href="#">sub safsadf 5</a></li>
                                                <li><a href="#">sub safsadf 6</a></li>
                                            </ul>
                                        </td></tr></table>
                                    </li>
                                    <li>
                                        <a href="#">submenu link 4</a>
                                    </li>
                                    <li>
                                        <a href="#">submenu link 5</a>
                                    </li>
                                    <li>
                                        <table class="has-child"><tr><td>
                                            <a href="#">submenu link 2</a>
                                            <ul>
                                                <li><a href="#">sub safsadf 11</a></li>
                                                <li><a href="#">sub safsadf 12</a></li>
                                                <li><a href="#">sub safsadf 13</a></li>
                                                <li><a href="#">sub safsadf 15</a></li>
                                                <li><a href="#">sub safsadf 16</a></li>
                                                <li><a href="#">sub safsadf 17</a></li>
                                                <li><a href="#">sub safsadf 18</a></li>
                                            </ul>
                                        </td></tr></table>
                                    </li>
                                    <li>
                                        <table class="has-child"><tr><td>
                                            <a href="#">submenu link 3</a>
                                            <ul class="">
                                                <li><a href="#">sub safsadf 21</a></li>
                                                <li><a href="#">sub safsadf 22</a></li>
                                                <li><a href="#">sub safsadf 23</a></li>
                                                <li><a href="#">sub safsadf 25</a></li>
                                                <li><a href="#">sub safsadf 26</a></li>
                                                <li><a href="#">sub safsadf 27</a></li>
                                                <li><a href="#">sub safsadf 28</a></li>
                                                <li><a href="#">sub safsadf 29</a></li>
                                            </ul>
                                        </td></tr></table>
                                    </li>
                                    <li>
                                        <a href="#">submenu link 4</a>
                                    </li>
                                    <li>
                                        <a href="#">submenu link 5</a>
                                    </li>
                                    <li>
                                        <a href="#">submenu link 6</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">Telefon</a></li>
                <li><a href="#">DigiTV</a></li>
                <li><a href="#">Koduleht ja e-post</a></li>
                <li><a href="#">IT-teenused</a></li>
                <li><a href="#">Liising ja arve</a></li>
                <li><a href="#">Iseteenindus</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right menu__main--additional">
                <li class="hide__scroll--top">
                    <a href="#modal-user" data-toggle="modal" data-target="#modal-user"><span class="glyphicon glyphicon-user"></span></a>
                </li>
                <li class=""><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li class="hide__scroll--top"><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                <li class=""><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </div>
</nav>