<aside class="sidemenu">
  <ul class="nav" role="navigation">
    <li class="active">
      <a href="index-with-sidebarNew.html#1">sample Active Link 1</a>
    </li>
    <li>
      <a href="index-with-sidebarNew.html#2">Link2</a>
    </li>
    <li>
      <a data-toggle="collapse" data-target="#collapse1" data-stopPropagation="true">Link has child</a>
      <ul class="collapse" id="collapse1">
        <li><a href="index-with-sidebarNew.html#3">Child link 1</a></li>
        <li><a href="index-with-sidebarNew.html#4">Child link 2</a></li>
      </ul>
    </li>
    <li class="active">
      <a data-toggle="collapse" data-target="#collapse2">sample Active Link with child</a>
      <ul class="collapse in" id="collapse2">
        <li><a href="index-with-sidebarNew.html#5">Child link 1</a></li>
        <li><a href="index-with-sidebarNew.html#6">Child link 2</a></li>
        <li><a href="index-with-sidebarNew.html#7">Child link 3</a></li>
        <li><a href="index-with-sidebarNew.html#8">Child link 4</a></li>
      </ul>
    </li>
  </ul>
</aside>