<ul class="justified">
    <li class="select-block">
        <h3><strong>1</strong>
            ekraan</h3>
        <p>Lorem ipsum dolor sit amet.</p>
        <var>5€/kuu </var>
    </li>
    <li class="select-block selected">
        <span class="status top success">Tellitud</span>
        <h3><strong>2</strong>
            ekraani</h3>

        <p>At hic impedit iure ratione.</p>
        <var>5 €/kuu </var>
    </li>
    <li class="select-block">
        <h3><strong>3</strong>
            ekraani</h3>
        <p>Accusamus cum expedita nulla optio.</p>
        <var>5 €/kuu </var>
    </li>
    <li class="select-block">
        <h3><strong>4</strong>
            ekraani</h3>

        <p>Laudantium placeat quas soluta veniam.</p>
        <var>5 €/kuu </var>
    </li>
    <li class="select-block">
        <h3><strong>5</strong>
            ekraani</h3>

        <p>Accusantium adipisci maiores vitae! Minus!</p>
        <var>5 €/kuu </var>
    </li>
</ul>
