<head>
    <meta charset="utf-8">
    <title>
        <!-- build:template
        <%= message %>
        /build -->
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- build:css:dist styles/style.min.css -->
    <link rel="stylesheet" href="assets/styles/bootstrap.css">
    <link rel="stylesheet" href="assets/styles/bootstrap-tsr.css">
    <!-- /build -->

</head>