<div>
    {{>_components/headernavigation/_header-top-navigation}}
    <div class="alert alert-info" id="browserAlert">
        <div class="container">
            <span class="icon icon-info"></span>
            <div>
                <strong>Käesoleva lehe töös võib esineda tõrkeid, sest kasutad aegunud veebilehitsejat.</strong>
                <span><a href="http://browsehappy.com/">Palun uuenda oma veebilehitsejat.</a></span>
            </div>
            <a href="javascript:$('#your-uniq-ID-120').alert('close');void(0);" class="icon icon-delete close-btn"></a>
        </div>
    </div>
    {{>_components/headernavigation/_header-main-navigation}}
</div>












