<nav class="navbar navbar-default">
    <h2 class="sr-only">Sisulehed</h2>
            <div class="container">
 
            <!-- menu for small screen -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img src="assets/img/elion-logo.svg" onerror="this.onerror=null; this.src='assets/img/elion-logo.png'"/>
                    </a>

                    <div class="pull-right">
                        <a class="navbar-toggle" href="#collapsibleMainMenu-Pages" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon icon-menu"></span>
                        </a>
                        <a class="navbar-toggle" href="#collapsibleMainMenu-Basket" data-toggle="collapse"><span class="icon icon-buy_2"></span><span class="badge">8</span></a>
                        <a class="navbar-toggle" href="#collapsibleMainMenu-Guide" data-toggle="collapse"><span class="icon icon-help"></span></a>
                        <a class="navbar-toggle" href="#collapsibleMainMenu-Search" data-toggle="collapse"><span class="icon icon-search"></span></a>
                        <a class="navbar-toggle" href="#collapsibleMainMenu-User" data-toggle="collapse"><span class="icon icon-contact"></span><span class="badge">5</span></a>
                    </div>

                </div>
            <!-- / menu for small screen -->

            <!-- main menu -->
                <div class="navbar-collapse collapse" id="collapsibleMainMenu-Pages">
                    <ul class="nav navbar-nav">
                        <li class="dropdown menu-large active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Production</span></a>
                            <div class="dropdown-menu ">
                                <div class="container">
                                    <ul class="row list-unstyled megamenu">
                                        <li class="col-sm-3 border-right-0">
                                            <!-- <ul class="list-group">
                                                <li class=""><h6><a href="#">Starter</a></h6></li>
                                                <li><a href="#" class="hidden-xs"><img src="http://lorempixel.com/265/133/sports/9/" /></a></li>
                                                <li>
                                                    <a href="#" class="hidden-xs">
                                                        <h6>The All New Things - Now Available</h6>
                                                        <p>Lorem lorem lorem lorem ipsum</p>
                                                    </a>
                                                </li>
                                            </ul> -->
                                            <ul class="list-group">
                                                <li class="dropdown-header"><h6><a href="#" >CSS</a></h6></li>
                                                <li><a href="css-buttons.html"><span>Buttons</span> </a></li>
                                                <li><a href="css-typo.html"><span>Typography</span></a></li>
                                                <li><a href="css-forms.html"><span>Forms</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><h6><a href="#" >CSS</a></h6></li>
                                                <li><a href="css-buttons.html"><span>Buttons</span> </a></li>
                                                <li><a href="css-typo.html"><span>Typography</span></a></li>
                                                <li><a href="css-forms.html"><span>Forms</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">


                                                <li class="dropdown-header"><h6><a href="#">Components</a></h6></li>
                                                <li><a href="components-alerts.html"><span>Alerts</span></a></li>
                                                <li><a href="components-footer.html"><span>Footer</span></a></li>
                                                <li><a href="components-upgrade_steps.html"><span>Upgrade Steps</span></a></li>

                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><h6><a href="#">Javascript</a></h6></li>
                                                <li class="hide"><a href="javascript-suggestion-list.html"><span>Search suggestion list</span></a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="container reset-padding">
                                    <ul class="row hidden-xs list-unstyled">
                                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="dropdown menu-large">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">In Development</a>
                            <div class="dropdown-menu ">
                                <div class="container">
                                    <ul class="row list-unstyled megamenu">
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><h6><a href="#">Starter</a></h6></li>
                                                <li><a href="#" class="hidden-xs"><img src="http://lorempixel.com/265/133/sports/9/" /></a></li>
                                                <li>
                                                    <a href="#" class="hidden-xs">
                                                        <h6>The All New Things - Now Available</h6>
                                                        <p>Lorem lorem lorem lorem ipsum</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><h6><a href="#" >CSS</a></h6></li>
                                                <li><a href="css-grid.html"><span>Grid</span> </a></li>
                                                <li><a href="css-tables.html"><span>Tables</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">


                                                <li class="dropdown-header"><h6><a href="#">Components <span class="icon icon-arrow"></span></a></h6></li>
                                                <li><a href="components-icons.html"><span>Icons</span></a></li>
                                                <li><a href="index-with-sidebar.html"><span>With Side menu</span></a></li>
                                                <li class="hide"><a href="index-with-sidebarNew.html"><span>With Side menu NEW!</span></a></li>
                                                <li><a href="components-hero.html"><span>Hero Banner</span></a></li>
                                                <li><a href="components-progress.html"><span>Progress Steps</span></a></li>
                                                <li><a href="components-content.html"><span>Content layout</span></a></li>
                                                <li><a href="components-submenu.html"><span>Submenu level 3</span></a></li>
                                                <li><a href="components-autocomplete.html"><span>Autocomplete</span></a></li>


                                                <li class="dropdown-header"><h6><a href="#">Pages</a></h6></li>
                                                <li><a href="index-signed-in.html"><span>Signed in top menu</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                               <li class="dropdown-header"><h6><a href="#">Javascript</a></h6></li>
                                                <li><a href="ddl.html"><span>Dropdown layer</span></a></li>
                                                <li><a href="javascript-suggestion-list.html"><span>Search suggestion list</span></a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="container reset-padding">
                                    <ul class="row hidden-xs list-unstyled">
                                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="dropdown menu-large">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Get Started</a>
                            <div class="dropdown-menu ">
                                <div class="container">
                                    <ul class="row list-unstyled megamenu">
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><h6><a href="#">Starter</a></h6></li>
                                                <li><a href="#" class="hidden-xs"><img src="http://lorempixel.com/265/133/sports/9/" /></a></li>
                                                <li>
                                                    <a href="#" class="hidden-xs">
                                                        <h6>The All New Things - Now Available</h6>
                                                        <p>Lorem lorem lorem lorem ipsum</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><h6><a href="#">General info</a></h6></li>
                                                <li><a href="readme.html"><span>Readme</span> </a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><h6><a href="#">web3 pages</a></h6></li>
                                                <li><a href="sample-page-bootstrap2grid.html"><span>Bootstrap2 grid for web3</span> </a></li>
                                                <li><a href="sample-page-for-web3.html"><span>web3</span> </a></li>
                                                <li><a href="sample-page-for-web3-bs2.html"><span>web3 BS2 grid</span> </a></li>
                                                <li><a href="sample-page-for-web3-business.html"><span>web3 business</span> </a></li>
                                                <li><a href="sample-page-for-web3-business-1.html"><span>web3 business 1</span> </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="container reset-padding">
                                    <ul class="row hidden-xs list-unstyled">
                                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="menu-large ">
                            <a href="#" class="stoppropagation" data-toggle="dropdown" role="button">Active link</span></a>
                            <!-- div class="dropdown-menu ">
                                <div class="container">
                                    <ul class="row list-unstyled megamenu">
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class=""><h6><a href="#">Starter</a></h6></li>
                                                <li><a href="#" class="hidden-xs"><img src="http://lorempixel.com/265/133/sports/9/" /></a></li>
                                                <li>
                                                    <a href="#" class="hidden-xs">
                                                        <h6>The All New Things - Now Available</h6>
                                                        <p>Lorem lorem lorem lorem ipsum</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><h6><a href="#" >sublink</a></h6></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">


                                                <li class="dropdown-header"><h6><a href="#">Sublink heading</a></h6></li>
                                                <li><a href="components-alerts.html"><span>Sublink</span></a></li>
                                                <li><a href="components-footer.html"><span>Sublink</span></a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="container reset-padding">
                                    <ul class="row hidden-xs list-unstyled">
                                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                                    </ul>
                                </div>
                            </div> -->
                        </li>

                        <!--  for mobile screen -->

                        <!-- side menu for mobile screen  -->
                        <li class="side-menu menu-large visible-xs">
                          <a href="index-with-sidebarNew.html#2">Link2</a>
                        </li>
                        <li class="dropdown side-menu  menu-large visible-xs">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Dropdown link from sidemenu</a>
                            <div class="dropdown-menu ">
                                <ul class="row list-unstyled megamenu">
                                    <li><a href="#asdfsaf">link 1</a></li>
                                    <li><a href="#dfsa">link 2</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- / end sidemenu for mobile screen -->

                        <li class="options visible-xs">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eraklient <span class="icon icon-arrow-down pull-right"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Ariklient</a></li>
                                        <li><a href="#">E-pood</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="options visible-xs">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eesti keeles <span class="icon icon-arrow-down pull-right"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">По-русски</a></li>
                                        <li><a href="#">In English</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <!-- right side additional menu -->
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li class="dropdown menu-large">
                            <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button"><span class="icon icon-help"></span></a>
                            <div class="dropdown-menu">
                                <div class="container collapsibleMainMenu-Guide">
                                    <ul class="row list-unstyled megamenu">
                                        <li class="col-sm-3">
                                            <ul>
                                                <li class="dropdown-header"><a href="#">Promo link  <span class="icon icon-arrow"></span></a></li>
                                                <li><a href="#" class="hidden-xs"><img src="http://lorempixel.com/265/133/sports/6/" /></a></li>
                                                <li>
                                                    <a href="#" class="hidden-xs">
                                                        <h6>The All New Things - Now Available</h6>
                                                        <p>Lorem lorem lorem lorem ipsum</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><a href="#" ><h6>Pealkiri <span class="icon icon-arrow"></span></h6></a></li>
                                                <li><a href="#"><span>Link 1</span></a></li>
                                                <li><a href="#"><span>Link 2</span></a></li>
                                                <li><a href="#"><span>Link 3</span></a></li>

                                                <li class="dropdown-header"><a href="#" ><h6>Pealkiri <span class="icon icon-arrow"></span></h6></a></li>
                                                <li><a href="#"><span>Link 1</span></a></li>
                                                <li><a href="#"><span>Link 2</span></a></li>
                                                <li><a href="#"><span>Link 3</span></a></li>

                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><a href="#" ><h6>Pealkiri <span class="icon icon-arrow"></span></h6></a></li>
                                                <li><a href="#"><span>Link 1</span></a></li>
                                                <li><a href="#"><span>Link 2</span></a></li>
                                                <li><a href="#"><span>Link 3</span></a></li>

                                                <li class="dropdown-header"><a href="#" ><h6>Pealkiri <span class="icon icon-arrow"></span></h6></a></li>
                                                <li><a href="#"><span>Link 1</span></a></li>
                                                <li><a href="#"><span>Link 2</span></a></li>
                                                <li><a href="#"><span>Link 3</span></a></li>

                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul class="list-group">
                                                <li class="dropdown-header"><a href="#" ><h6>Pealkiri <span class="icon icon-arrow"></span></h6></a></li>
                                                <li><a href="#"><span>Link 1</span></a></li>
                                                <li><a href="#"><span>Link 2</span></a></li>
                                                <li><a href="#"><span>Link 3</span></a></li>

                                                <li class="dropdown-header"><a href="#" ><h6>Pealkiri <span class="icon icon-arrow"></span></h6></a></li>
                                                <li><a href="#"><span>Link 1</span></a></li>
                                                <li><a href="#"><span>Link 2</span></a></li>
                                                <li><a href="#"><span>Link 3</span></a></li>

                                                <li class="dropdown-header"><a href="#" ><h6>Pealkiri <span class="icon icon-arrow"></span></h6></a></li>
                                                <li><a href="#"><span>Link 1</span></a></li>
                                                <li><a href="#"><span>Link 2</span></a></li>
                                                <li><a href="#"><span>Link 3</span></a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="container reset-padding">
                                    <ul class="row hidden-xs list-unstyled">
                                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown menu-large">
                            <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button"><span class="icon icon-search"></span></a>
                            <div class="dropdown-menu">
                                <div class="container collapsibleMainMenu-Search">

                                    <form class="tsr form-horizontal" role="form">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="Search">

                                                <!-- Autocomplete -->
                                                <div class="headerSearchResultWrapper list-group">
                                                  <a class="list-group-item " href="javasctipt:void(0);">
                                                    <!-- <figure class="search-item-image">
                                                      <img src="https://pood.elion.ee/pictures/106976_2/75x75/HP%20Pavilion%2015-n213so%20s%C3%BClearvuti%20vasakult%20k%C3%BClgvaatest.jpg">
                                                    </figure> -->
                                                    <span class="search-item-title">Lenovo IdeaPad Z510 </span>
                                                  </a>
                                                  
                                                  
                                                  <a class="list-group-item " href="javasctipt:void(0);">
                                                    <figure class="search-item-image">
                                                      <img src="https://pood.elion.ee/pictures/106976_2/75x75/HP%20Pavilion%2015-n213so%20s%C3%BClearvuti%20vasakult%20k%C3%BClgvaatest.jpg">
                                                    </figure>
                                                    <span class="search-item-title">Dell Latitude E5440</span>
                                                  </a>
                                                  
                                                  
                                                  <a class="list-group-item " href="javasctipt:void(0);">
                                                    <!-- <figure class="search-item-image">
                                                      <img <img src="https://pood.elion.ee/pictures/106976_2/75x75/HP%20Pavilion%2015-n213so%20s%C3%BClearvuti%20vasakult%20k%C3%BClgvaatest.jpg">
                                                    </figure> -->
                                                    <span class="search-item-title">Lenovo IdeaPad Yoga 2 Pro 13</span>
                                                  </a>
                                                  
                                                  
                                                  <a class="list-group-item " href="javasctipt:void(0);">
                                                    <!-- <figure class="search-item-image">
                                                      <img src="https://pood.elion.ee/pictures/106976_2/75x75/HP%20Pavilion%2015-n213so%20s%C3%BClearvuti%20vasakult%20k%C3%BClgvaatest.jpg">
                                                    </figure> -->
                                                    <span class="search-item-title">HP Pavilion 15-n002so</span>
                                                  </a>
                                                  
                                                  
                                                  <a class="list-group-item " href="javasctipt:void(0);">
                                                    <figure class="search-item-image">
                                                      <img src="https://pood.elion.ee/pictures/106976_2/75x75/HP%20Pavilion%2015-n213so%20s%C3%BClearvuti%20vasakult%20k%C3%BClgvaatest.jpg">
                                                    </figure>
                                                    <span class="search-item-title">Lenovo Idea G505S</span>
                                                  </a>
                                                  
                                                  
                                                  <a class="list-group-item active" href="javasctipt:void(0);">
                                                    <!-- <figure class="search-item-image">
                                                      <img src="https://pood.elion.ee/pictures/106976_2/75x75/HP%20Pavilion%2015-n213so%20s%C3%BClearvuti%20vasakult%20k%C3%BClgvaatest.jpg">
                                                    </figure> -->
                                                    <span class="search-item-title">Asus N550JV</span>
                                                  </a>
                                                  
                                                  
                                                  <a class="list-group-item " href="javasctipt:void(0);">
                                                    <!-- <figure class="search-item-image">
                                                      <img src="https://pood.elion.ee/pictures/106976_2/75x75/HP%20Pavilion%2015-n213so%20s%C3%BClearvuti%20vasakult%20k%C3%BClgvaatest.jpg">
                                                    </figure> -->
                                                    <span class="search-item-title">Asus X75A</span>
                                                  </a>

                                                  <a class="search-advanced" href="#">
                                                    Vaata kõiki
                                                  </a>
                                                </div>

                                            </div>
                                           <!--  <input class="col-md-3 col-sm-3 col-xs-12 btn btn-default " type="button" value="Search" /> -->
                                        </div>
                                    </form>


                                </div>
                                <div class="container reset-padding">
                                    <ul class="row hidden-xs list-unstyled">
                                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown menu-large hide">
                            <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button"><span class="icon icon-contact"></span></a>
                            <div class="dropdown-menu">
                                <div class="container collapsibleMainMenu-User">

                                    <div class="row megamenu">
                                        <div class="col-md-12">
                                            this content and parent icon appears only authenticated user.
                                        </div>
                                    </div>

                                </div>
                                <div class="container reset-padding">
                                    <ul class="row hidden-xs list-unstyled">
                                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- end / right side additional menu -->

                </div><!-- end /  main menu -->

            </div>

        <!-- generating content by script -->
            <div id="collapsibleMainMenu-Basket" class="collapse megamenu collapsibleMainMenu">&nbsp;</div>
            <div id="collapsibleMainMenu-Search" class="collapse megamenu collapsibleMainMenu">&nbsp;</div>
            <div id="collapsibleMainMenu-Guide" class="collapse megamenu collapsibleMainMenu">&nbsp;</div>
            <div id="collapsibleMainMenu-User" class="collapse megamenu collapsibleMainMenu">
                
                <div class="container-no-gutter">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <h2 class="title">Kellena soovid siseneda?</h2>
                            <p>Siin saate määrata kellena soovite edaspidi siseneda. Seda valikut saate muuta ja tühistada.</p>
                            <p><input type="checkbox" data-stopPropagation="true" /> <em>Jäta minu valik meelde</em></p>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <h2 class=""><a href="#">Eraklient</a></h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Ahto Pärn von Krusesten</a></li>
                                <li class="list-group-item"><a href="#">Eesnimi Perenimi</a></li>
                                <li class="list-group-item"><a href="#">Martinson Sandrovinkilkohv</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <h2><a href="#">Äriklient</a></h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Minuesimenefirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minuteinefirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minukolmasfirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minuneljas OÜ</a></li>
                                <li class="list-group-item"><p class="link"><span class="icon icon-plus"></span> <a href="#">Registreeri uus äriklient</a></p></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <h2 class="link"><a href="#">Minu andmed</a></h2>
                        </div>
                    </div>
                </div>

            </div>
        <!-- end / generating content by script -->


        </nav>