<ul class="ee-sidenav">
  <li>
    <a class="firstlevel" href="css-grid.html"><h6>Link 1</h6></a>
  </li>
  <li>
    <a class="firstlevel" href="components-icons.html"><h6>Link2</h6></a>
  </li>
  <li>
    <a class="firstlevel collapsible collapsed" data-toggle="collapse" data-target="#kotid" data-parent="#sidemenu"><h6>Link has child</h6></a>
    <ul class="collapse" id="kotid">
      <li><a href="css-tables.html"><h6>Child link 1</h6></a></li>
      <li><a href="css-typo.html"><h6>Child link 2</h6></a></li>
    </ul>
  </li>

  <li>
    <a class="firstlevel collapsible collapsed" data-toggle="collapse" data-target="#klaviatuurid-ja-hiired" data-parent="#sidemenu">
      <h6>Link has child and is really long </h6>
    </a>
    <ul class="collapse" id="klaviatuurid-ja-hiired">
      <li><a href="components-progress.html"><h6>Child link 1</h6></a></li>
      <li><a href="components-upgrade_steps.html"><h6>Child link 2</h6></a></li>
      <li><a href="components-hero.html"><h6>Child link 3</h6></a></li>
      <li><a href="index-signed-in.html"><h6>Child link 4</h6></a></li>
    </ul>
  </li>  
</ul>