$mobile-max-with:   $screen-xs-max;
$deskdop-min-width: $mobile-max-with + 1;

footer {
  colo: #4e256b;
  background-color: darken($brand-primary,8%); //7.6
  a,
  a:hover,
  a:visited{
    color: $link-color-on-dark-bg;
    text-decoration: none;
  }

  @media(max-width: $mobile-max-with) {
    //rewrite default styles
    .container {
     padding-left: 0;
     padding-right: 0;
      .row{
        margin-left: 0;
        margin-right: 0;
        >[class^="col"]{
          padding-left:0;
          padding-right:0;
        }
      }
    }

    h2{
      background-color: $brand-primary;
    }
    a{
      border-bottom: 1px solid darken($brand-primary,15%);
    }
  }

  h2{
    font-size: $font-size-base + 3;
    font-weight: normal;
    margin: 0;

    >a{
      display: block;
      padding: 15px 10px;
      &:hover, &:active, &:focus  {
        background-color: lighten($brand-primary, 7.6%);
      }

      &:after{
        @include setIconFonts();
        position: relative;
        top: 6px;
        float: right;
        content: "\e66b";
      }
      &.collapsed:after{
        content: "\e669";
      }
    }

  }

  .list-group {
    margin-bottom:0;
    .list-group-item {
      background: none;
      border:none;
      border-radius: 0;
      padding:0;
      a{
        display: block;
        padding: 8px 10px;

          &:hover, &:active, &:focus  {
          background-color: lighten($brand-primary, 7.6%);
        }
      }

    }
  }

  @media (min-width: $deskdop-min-width ){
    //force collapse in open mode
    .list-group {
        &.collapse,
        &.collapsing
        {
          display: block !important;
          height: 100% !important;
        }
    }
    h2{
      a{
        border-bottom: 1px solid darken($brand-primary,15%);
        cursor: default;
        &:after{
          display: none;
        }
        &:hover,
        &:visited{
          background: none;
        }
      }
    }
  }
}