$brand__link: #652C85;
$brand__violet: #652D86;
$brand__gray: #cccccc;
$white:#fff;

.container {
  min-width: 320px;
}
body > .container {
  margin-top: 135px;
}



/* header */
header {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 1;

  @include transition(top 0.3s ease);

  .dropdown-menu {
    > li {
      > a {
        &:hover,
        &:focus {
          background-color: $brand__violet;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  > div {
    background-color: #fff;

    /* TOP NAVIGATION */
    .menu__top {
      background-color: $brand__violet;
      border-color: $brand__violet;
      border-radius: 0;
      z-index:2;
      border: 0;
      margin-bottom: 12px;

      .navbar-nav {
        > li {
          &.active {
            > a {
              font-size: $font-size-base - 2;

              &:hover,
              &:focus {
                background-color: #fff;
                color: $brand__link;
              }
            }
          }
          &.open {
            > a {
              &:hover,
              &:focus {
                background-color: #fff;
                color: $brand__link;
              }
            }
          }
          > a {
            color: $white;
            font-size: 13px;
            font-weight: bold;

            @include transition(all 0.3s ease);

            &:hover,
            &:focus {
              background-color: #fff;
              color: $brand__link;
            }
          }
        }
      }

    }

    /* MAIN NAVIGATION */
    .menu__main {
      margin-bottom:0px;
      z-index:1;
      border:0;
      border-bottom: 1px solid $brand__gray;
      border-radius: 0;

      @include transition(all 0.3s ease);

      /* mobile view */
      .navbar-toggle {
        border-color: $brand__violet;
        border:0;

        .icon-bar {
          background-color: $brand__violet;
        }
      }

      .navbar-nav {
        > li {
          > a {
            @include transition(all 0.3s ease);

            &.navbar-brand {
              /* icon */
              // TODO: extend broken column layout ;
              //@extend .icon;
              font-family: 'tsr-icons-all';
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              /* Better Font Rendering =========== */
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;

              font-size: $font-size-base + 25;

              &:empty {
                width: 1em;
              }
              &:before {
                content: "\e02c";
              }
              &:hover:after {
                background-color: transparent;
              }
              /* / icon */
            }
          }

          @include set-main-menu-link();

          /*> a:hover,*/
          > a:focus {
            background-color: $brand__violet;
            color: $white;
          }


          &.open {
            > a,
            > a:hover,
            > a:focus {
              background-color: $brand__violet;
              color: $white;
            }
          }
          &.active {
            @include set-main-menu-link(active);
          }
        }
      }

      /* megamenu*/
      .megamenu {
        position: static;

        .dropdown-menu {
          width: 100%;
          background-color: darken($brand__violet, 9%);
          margin-top: 0px;
          border: 0;
          border-radius: 0;
          //min-height: 200px;
          padding: 0;

          > .container {
            background-color: $brand__violet;
            //min-height: inherit;
            padding:30px 40px;

            > div {
              > ul {
                list-style: none;
                padding: 0 0 10px 0;
                width: 100%;
                background-color: #ff0000;

                > li {
                  margin-bottom:25px;

                  > a {
                    display: block;
                    background-color: #008000;
                    font-size: $font-size-base + 3;
                    margin-bottom: 5px;

                    /* icon */
                    // TODO: extend broken column layout ;
                    //@extend .icon;
                    font-family: 'tsr-icons-all';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;

                    &:empty {
                      width: 1em;
                    }
                    &:after {
                      content: "\e668";
                      margin-left: 10px;
                    }
                    /* / icon */

                  }

                  > ul {
                    list-style: none;
                    padding: 0 0 10px 0;

                    a {
                      font-size: $font-size-base;
                    }
                  }
                }
              }
            }
          }
        }
      }
      /* / end megamenu */
    }

  }
}

@include headernavigationAnimation();
@include responsiveNavigationText();

header {
  .menu__top .navbar-nav > .active {
    > a,
    > a:hover,
    > a:focus {
      background-color: #fff;
      color: $brand__link ;
    }
  }
}

/* main navigation on mobile devices */
[class*="screen__xs"] {
  .menu__main {
    .navbar-toggle {
      &:hover,
      &:focus {
        background-color: $brand__violet;
        color: #fff;
        border-radius: 0;

        .icon-bar {
          background-color: #fff;
        }
      }
    }
    .navbar-collapse,
    .navbar-form {
      border-color: $brand__violet;
      background-color: $brand__violet;
    }
    .navbar-nav {
      > li {
        > a {
          color:#fff;

          &:hover,
          &:focus {
            background-color: transparent;
            color: #fff;
          }
        }
      }
      > .active {
        > a {
          &:hover,
          &:focus {
            background-color: #e7e7e7;
            color: #555;
          }
        }
      }
      .open {
        .dropdown-menu {
          > li {
            > a {
              color:#fff;

              &:hover,
              &:focus {
                background-color: #4e256b;
                color: #fff;
              }
            }
          }
        }
        > a {
          &:hover,
          &:focus {
            background-color: transparent;
            color: #fff;
          }
        }
      }
    }
  }
}
/* / end main navigation on mobile devices */

.four-col {
  -moz-column-count: 4;
  -moz-column-gap: 95px;
  -moz-column-rule-color:  darken($brand__violet, 9%);
  -moz-column-rule-style:  solid;
  -moz-column-rule-width:  1px;

  -webkit-column-count: 4;
  -webkit-column-gap : 95px;
  -webkit-column-rule-color:  darken($brand__violet, 9%);
  -webkit-column-rule-style: solid ;
  -webkit-column-rule-width:  1px;

  column-count:4;
  column-gap:95px;
  column-rule-color:  darken($brand__violet, 9%);
  column-rule-style: solid ;
  column-rule-width:  1px;

  > ul {
    > li {
      ul {
        > li {
          -webkit-column-break-inside:avoid-column;
          -moz-column-break-inside:avoid-column;
          -o-column-break-inside:avoid-column;
          -ms-column-break-inside:avoid-column;
          column-break-inside:avoid-column;
          background-color: #ffff00;
        }
      }
    }
  }
}
