$brand__link: #652C85;
$brand__violet: #652D86;
$brand__gray: #cccccc;
$white:#fff;

.container {
  min-width: 320px;
}
body > .container {
  margin-top: 135px;
}


/* header */
header {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 1;

  @include transition(top 0.3s ease);

  .dropdown-menu {
    > li {
      > a {
        &:hover,
        &:focus {
          background-color: $brand__violet;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  > div {
    background-color: #fff;

    /* TOP NAVIGATION */
    .menu__top {
      background-color: $brand__violet;
      border-color: $brand__violet;
      border-radius: 0;
      z-index:2;
      border: 0;
      margin-bottom: 0px;

      .navbar-nav {
        > li {
          &.active {
            > a {
              &:hover,
              &:focus {
                background-color: #fff;
                color: $brand__link;
              }
            }
          }
          > a {
            color: #fff;
          }
          &.open {
            > a {
              &:hover,
              &:focus {
                background-color: #fff;
                color: $brand__link;
              }
            }
          }
          > a {
            font-size: 13px;
            font-weight: bold;

            &:hover,
            &:focus {
              background-color: #fff;
              color: $brand__link;
            }
          }
        }
      }

    }

    /* MAIN NAVIGATION */
    .menu__main {
      margin-bottom:0px;
      z-index:1;
      border:0;
      border-bottom: 1px solid $brand__gray;
      //background-color: #ffff00;

      @include transition(all 0.3s ease);

      /* mobile view */
      .navbar-toggle {
        border-color: $brand__violet;
        border:0;

        .icon-bar {
          background-color: $brand__violet;
        }
      }

      .navbar-nav {
        > li {
          //border-right: 1px solid $brand__gray;
          &:before {
            background-color: $brand__gray;
            content: "";
            display: block;
            height: 35%;
            left: 0;
            position: absolute;
            right: auto;
            top: 35%;
            width: 1px;
          }
          @include set-main-menu-link();

          &.open {
            > a,
            > a:hover,
            > a:focus {
              background-color: $brand__violet;
              color: $white;
            }
          }
          &.active {
            @include set-main-menu-link(active);
          }
        }
      }

      /* megamenu*/
      .megamenu {
        position: static;

        .dropdown-menu {
          width: 100%;
          background-color: $brand__violet;
          margin-top: -1px;

          > li {
            float: left;
            color: $white;

            a {
              color: $white;
            }
            ul li {
              list-style: none;
              color: $white;

              > a {
                color: $white;
                font-size: $font-size-base+3;
              }
            }
          }
        }
      }
      /* / end megamenu */

    }
  }
}

header {
  .menu__top .navbar-nav > .active {
    > a,
    > a:hover,
    > a:focus {
      background-color: #fff;
      color: $brand__link ;
    }
  }
}
/* NAVIGATION ACTION LOGIC */
/*header {

  &.nav-top {
    top: 0px;

    .navbar-nav {
      > .active {
        > a,
        > a:hover,
        > a:focus {
          background-color: #fff;
          color: $brand__link ;
        }
      }
    }
    .hide__scroll--top {
      display: none;
    }
    .show__scroll--top {
      display: inline-block;
    }
  }

  &.nav-up {
    top: -45px;

    > div {
      background-color: transparent;

      > nav.navbar-default {
        top:-25px;
        opacity: 0;
      }
      > nav.navbar-inverse .navbar-nav .active a {
        background-color: transparent;
      }

    }
  }

  &.nav-down {
    top: -45px;

    > div {
      > nav.navbar-default {
        top:0px;
        opacity: 1;
      }
      > nav.navbar-inverse .navbar-nav .active a {
        background-color: transparent;
      }

  }
}}*/

@include headernavigationAnimation();

/* main navigation on mobile devices */
[class*="screen__xs"] {
  .menu__main {
    .navbar-toggle {
      &:hover,
      &:focus {
        background-color: $brand__violet;
        color: #fff;
        border-radius: 0;

        .icon-bar {
          background-color: #fff;
        }
      }
    }
    .navbar-collapse,
    .navbar-form {
      border-color: $brand__violet;
      background-color: $brand__violet;
    }
    .navbar-nav {
      > li {
        > a {
          color:#fff;

          &:hover,
          &:focus {
            background-color: transparent;
            color: #fff;
          }
        }
      }
      > .active {
        > a {
          &:hover,
          &:focus {
            background-color: #e7e7e7;
            color: #555;
          }
        }
      }
      .open {
        .dropdown-menu {
          > li {
            > a {
              color:#fff;

              &:hover,
              &:focus {
                background-color: #4e256b;
                color: #fff;
              }
            }
          }
        }
        > a {
          &:hover,
          &:focus {
            background-color: transparent;
            color: #fff;
          }
        }
      }
    }
  }
}
/* / end main navigation on mobile devices */