$brand__link: #652C85;
$brand__violet: #652D86;
$brand__gray: #cccccc;
$white:#fff;

.container {
  min-width: 320px;
}
body > .container {
  margin-top: 135px;
}



/* header */
header {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 1;

  @include transition(top 0.3s ease);

  .dropdown-menu {
    > li {
      > a {
        &:hover,
        &:focus {
          background-color: $brand__violet;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  > div {
    background-color: #fff;

    /* TOP NAVIGATION */
    .menu__top {
      background-color: $brand__violet;
      border-color: $brand__violet;
      border-radius: 0;
      z-index:2;
      border: 0;
      margin-bottom: 0px;

      .navbar-form {
        margin: 5px 0 0 5px;
      }

      .navbar-nav {
        &:last-child {
          > li {
            &:not(:first-child):before {
              @include verticalLine(darken($brand__violet, 9%), 35%, 32%, 1px);
            }
          }
        }
        > li {

          .icon-arrow-down {
            font-size: $font-size-base + 4;
            vertical-align: middle;
            padding-left: 5px;
          }
          &.active {
            > a {
              font-size: $font-size-base - 2;

              &:hover,
              &:focus {
                background-color: #fff;
                color: $brand__link;
              }
            }
          }
          &.open {
            > a {
              &:hover,
              &:focus {
                background-color: #fff;
                color: $brand__link;
              }
            }
          }
          > a {
            color: $white;
            font-size: 13px;
            font-weight: bold;

            @include transition(all 0.3s ease);

            &:hover,
            &:focus {
              background-color: #fff;
              color: $brand__link;
            }
          }
        }

      }

    }

    /* MAIN NAVIGATION */
    .menu__main {
      margin-bottom:0px;
      z-index:1;
      border:0;
      border-bottom: 1px solid $brand__gray;
      border-radius: 0;

      @include transition(all 0.3s ease);

      /* mobile view */
      .navbar-toggle {
        border-color: $brand__violet;
        border:0;

        .icon-bar {
          background-color: $brand__violet;
        }
      }

      .navbar-nav {
        > li {
          > a {
            @include transition(all 0.3s ease);

            &.navbar-brand {
              font-size: $font-size-base + 25;
              padding-top: 15px;

              &:hover:after {
                background-color: transparent;
              }
              /* / icon */
            }
          }

          @include set-main-menu-link();

          > a:focus {
            background-color: $brand__violet;
            color: $white;
          }


          &.open {
            > a,
            > a:hover,
            > a:focus {
              background-color: $brand__violet;
              color: $white;
            }
          }
          &.active {
            @include set-main-menu-link(active);
          }
        }

        &.menu__main--additional {
          margin-top: 0;//-12px;

          > li {
            > a {
              padding-left: 10px;
              padding-right: 10px;

              &:hover {
                background-color: $brand__violet;
                color: $white;
              }
              &:hover:after {
                background-color: transparent;
              }
            }
          }
        }
      }

      /* megamenu*/
      .megamenu {
        position: static;

        .dropdown-menu {
          width: 100%;
          background-color: darken($brand__violet, 9%);
          margin-top: 0px;
          border: 0;
          border-radius: 0;
          padding: 0;

          > .container {
            background-color: $brand__violet;
            padding:30px 40px;

            > div {
              > ul {
                list-style: none;
                padding: 0 0 10px 0;
                width: 100%;

                > li {
                  margin-bottom:0px;

                  > table {
                    width: 100%;
                    ul {
                      list-style: none;
                      margin: 0;
                      padding: 0;
                    }
                  }
                  .has-child tr td > a,
                  > a {
                    display: block;
                    font-size: $font-size-base + 3;
                    margin-bottom: 5px;
                    color: $white;
                    padding: 6px 12px;

                    &:hover {
                      text-decoration: none;
                      background-color: darken($brand__violet, 9%);
                    }

                    &:after {
                      /* icon */
                      // TODO: extend broken column layout ;
                      //@extend .icon;
                      font-family: 'tsr-icons-all';
                      speak: none;
                      font-style: normal;
                      font-weight: normal;
                      font-variant: normal;
                      text-transform: none;
                      /* Better Font Rendering =========== */
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;

                      content: "\e668";
                      margin-left: 10px;
                    }
                    &:empty {
                      width: 1em;
                    }
                    /* / icon */
                    

                  }
                  ul {
                    list-style: none;
                    padding: 0 0 10px 0;

                    > li {
                      height: auto;
                      margin: 5px 0;

                      @media (max-width: 768px) {
                        margin: 0;
                      }

                      > a {
                        font-size: $font-size-base;
                        color: $white;
                        padding: 6px 12px;

                        &:hover {
                          text-decoration: none;
                          background-color: darken($brand__violet, 9%);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

    /* MEGAMENU ON SMALL SCREEN */
      @media (max-width: 768px) {
        .navbar-nav {
          margin-top: 0;
        }
        font-size: 18px;

        .megamenu {
          > a {
            color:$white!important;
            padding-bottom: 3px;
            &:hover {
              background-color: darken($brand__violet, 9%)!important;
            }
          }
          .dropdown-menu {

            > .container {
              padding: 0;
              width: auto;

              > div {
                > ul {


                  > li {
                    margin-bottom: 0px;
                    position: relative;

                    > table {


                      ul {

                      }
                    }
                    .has-child {
                      background-color: darken($brand__violet, 15%);
                    }
                    .has-child tr td > a,
                    > a {
                      display: block;
                      font-size: $font-size-base + 3;
                      margin-bottom: 0px;
                      color: $white;
                      padding: 6px 12px 6px 36px;

                      &:hover {
                        text-decoration: none;
                        background-color: darken($brand__violet, 9%);
                      }

                      &:after {
                        /* icon */
                        content: "\e668";
                        position: absolute;
                        right: 15px;
                      }
                      /* / icon */

                    }
                    ul {
                      background-color: darken($brand__violet, 20%);

                      > li {
                        margin: 0;

                        > a {
                          display: block;
                          font-size: $font-size-base + 3;
                          margin-bottom: 0px;
                          color: $white;
                          padding: 6px 12px 6px 48px;

                          &:hover {
                            text-decoration: none;
                            background-color: darken($brand__violet, 9%);
                          }

                          &:after {
                            /* icon */
                            // TODO: extend broken column layout ;
                            //@extend .icon;
                            font-family: 'tsr-icons-all';
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            /* Better Font Rendering =========== */
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;

                            content: "\e668";
                            margin-left: 10px;

                            position: absolute;
                            right: 15px;
                          }
                          &:empty {
                            width: 1em;
                          }
                          /* / icon */
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      /* / end megamenu */

      .menu__main--additional-content {
        clear: both;
        position: absolute;
        top: 41px;
        left: 0;
        right: 0;
        background-color: $brand__violet;

        color: $white;
      }
    }

  }
}

@include headernavigationAnimation();
@include responsiveNavigationText();

header {
  .menu__top .navbar-nav > .active {
    > a,
    > a:hover,
    > a:focus {
      background-color: #fff;
      color: $brand__link ;
    }
  }
}

/* main navigation on mobile devices */
/*[class*="screen__xs"]*/
// TODO: Need attention!;
@media (max-width: 767px) { //$screen-sm
  .menu__top {
    .navbar-nav {
      margin: 0;

      &.visible-xs,
      &.navbar-right{
        display: inline-block!important;
      }

      &.nav {

        > li {
          float: left;
        }
      }

      &.navbar-right {
        float: right;
        right: 0;
        left: auto;

        .dropdown-menu {
          left: auto;
          right: 0;

          a {
            color:$brand__link;
          }
        }
      }

      .open {
        .dropdown-menu {
          background-color: $white;
          float: left;
          position: absolute;
        }
      }

      .dropdown-menu {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);

        > li {
          > a {
            color: $brand__link!important;
          }
          > a:hover,
          > a:focus {
            background-color: $brand__violet;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }

  .menu__main {
    .navbar-brand,
    .navbar-brand:hover {
      color: $brand__link;
      font-size: $font-size-base + 15;
      padding-top: 8px;
    }
    .navbar-header {

      .mobile-icons {

        .pull-right {
          > a {
            display: inline-block;
            height: 50px;

            &:hover,
            &:focus,
            &:active {
              background-color: $brand__violet;
              color: $white;
              > span {
                color: $white;
              }
            }

            [class*="glyphicon"] {
              font-size: $font-size-base + 5;
              color:$brand__link;
              padding: 15px 8px 10px 9px;
            }
          }
        }
      }
    }
    .navbar-toggle {
      height: 50px;
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 8px;
      padding-left: 5px;
      padding-right: 5px;

      &:hover,
      &:focus {
        background-color: $brand__violet;
        color: #fff;
        border-radius: 0;
        .icon {
          color: $white;
        }
        .icon-bar {
          background-color: #fff;
        }
      }

      .icon {
        font-size: $font-size-base + 15;
        color: $brand__link;
      }
    }
    .navbar-collapse,
    .navbar-form {
      border-color: $brand__violet;
      background-color: $brand__violet;
    }

    .navbar-nav {
      > li {
        &:first-child {
          display: none;
        }

        > a {
          color:#fff;

          &:hover,
          &:focus {
            background-color: transparent;
            color: #fff;
          }
        }
      }
      > .active {
        > a {
          &:hover,
          &:focus {
            background-color: #e7e7e7;
            color: #555;
          }
        }
      }
      .open {
        .dropdown-menu {
          > li {
            > a {
              color:#fff;

              &:hover,
              &:focus {
                background-color: #4e256b;
                color: #fff;
              }
            }
          }
        }
        > a {
          &:hover,
          &:focus {
            background-color: transparent;
            color: #fff;
          }
        }
      }
    }
  }
}
/* / end main navigation on mobile devices */

.four-col {
  -moz-column-count: 4;
  -moz-column-gap: 95px;
  -moz-column-rule-color:  darken($brand__violet, 9%);
  -moz-column-rule-style:  solid;
  -moz-column-rule-width:  1px;

  -webkit-column-count: 4;
  -webkit-column-gap : 95px;
  -webkit-column-rule-color:  darken($brand__violet, 9%);
  -webkit-column-rule-style: solid ;
  -webkit-column-rule-width:  1px;

  column-count:4;
  column-gap:95px;
  column-rule-color:  darken($brand__violet, 9%);
  column-rule-style: solid ;
  column-rule-width:  1px;

  @media (max-width: 768px) {
    -moz-column-count: 1;
    -moz-column-gap: 95px;
    -moz-column-rule-color:  darken($brand__violet, 9%);
    -moz-column-rule-style:  solid;
    -moz-column-rule-width:  1px;

    -webkit-column-count: 1;
    -webkit-column-gap : 95px;
    -webkit-column-rule-color:  darken($brand__violet, 9%);
    -webkit-column-rule-style: solid ;
    -webkit-column-rule-width:  1px;

    column-count:1;
    column-gap:95px;
    column-rule-color:  darken($brand__violet, 9%);
    column-rule-style: solid ;
    column-rule-width:  1px;
  }


  > ul {
    > li {
      > table {
        &.has-child {

          /*-webkit-column-break-inside:avoid;
          -moz-column-break-inside:avoid;
          -o-column-break-inside:avoid;
          -ms-column-break-inside:avoid;
          column-break-inside:avoid;*/

          overflow: hidden;
          break-inside:avoid-column;
          -webkit-column-break-inside:avoid;
          page-break-inside: avoid;

        }

      }
    }
  }
}
