// Eesti Telekom page\s styles
// --------------------------------------------------
html {
  min-height: 100%;
  position: relative;
}

body {
  min-width: 320px;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
  margin-bottom: 60px;
}

header{
  display: block;
  margin-bottom: -1px;
}

section.content { padding: 0;
  .container {
    margin-top: $containerTopMargin;
  }
}

#browserAlert { display: none; }
.lt-ie8 #browserAlert { display: block; }






// close button bar styles
.btn-close{
  background-color: $mainnavigation-submenu-bg-color;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid $mainnavigation-bg-color;
}




// TODO: need update
// elion new alert
.alert-primary {
  @include alert-variant($alert-primary-bg, $alert-primary-border, $alert-primary-text);
}

