
//TODO: COLOURS use global color codes!
//TODO: ? integtae justified class
$green:       #00b48c;
$blue:        #0083be;
$white:       #f6f6f6;
$border:      #dbdbdb;
$font:        #333333;
$number-size:40px;
$border-size:4px;

.select-block{
  color: $font;
  text-align: center;
  padding: 40px;
  border:solid $border;
  border-width: 1px 1px 1px 0;
  position: relative;
  background-color: $white;
  &:first-child{
    border-left-width: 1px;
  }
  &:hover{
    background-color: $blue;
    > * {
      color: $white;
    }
  }
  &.selected{
    border: none;
    outline: 10px solid $green;
    z-index: 1;
    >.status{
      display: block;
    }
    &:after{
      @include badge-done($green,$border-size,$green,$white,$number-size);
      display: block;
      position: absolute;
      margin-right: auto;
      left: 50%;
      margin-left: -($number-size)/2;
      bottom: -($number-size)/2 - $border-size/2 ;
    }
  }
  >.status{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-weight: bold;
    &.top{
      top: 0;
      margin-top: 10px;
    }
    &.success{
      color: $green;
    }
  }
  h3{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 45px;
    strong {
      font-size: 65px;
      line-height: 50px;
      display: block;
    }
  }
  &>p{
    min-height: 42px;
  }
  &>var{
    font-size: 22px;
    color: $blue;
  }
  @media (max-width: $screen-sm) {
    display: table !important;
    >h3,
    >p,
    >var{
      display: table-cell;
    }
    >p{
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  ///////////////////////////////////////
  &.select-action{
    &:hover {
      background-color: $brand-white;
      > * {
        color: inherit;
      }
      >var{
        color: $blue;
      }
      .success{
        color: $green;
      }

      .toggle-hover {
        .hover-on {
          display: block;
        }
        .hover-off {
          display: none;
        }
      }

    }
    .toggle-hover {
      min-height: 42px;
      margin-bottom: 10px;
      .hover-on {
        display: none;
      }
      .hover-off {
        display: block;
      }
    }
  }
  &.selected {
    .toggle-hover {
      .hover-on {
        display: none;
      }
      .hover-off {
        display: block;
      }
    }

    &:hover {
      .toggle-hover {
        .hover-on {
          display: none;
        }
        .hover-off {
          display: block;
        }
      }
    }
  }
}