<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum excepturi fugiat modi nobis optio quod quos recusandae reprehenderit veritatis.</div>

<div class="progress-steps" data-update="progress" >
	<div class="progress-tabs">
		<ol data-progress-steps="5">
			{{#steps}}
			<li class="{{class}}">
				<h4>{{title}}</h4>
			</li>
			{{/steps}}
		</ol>
	</div>
	<div class="progress-content" class="display: block;" s>
	
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur atque cumque eaque ex magnam,
			minus porro tenetur. Doloribus, repellendus.</p>

		<button data-action="prev">PREV</button> <button data-action="next">NEXT</button>
	</div>
</div>
