// Buttons
// -------------------------
@mixin search-button($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  padding: 0;
  margin: 0;
  border-radius: 0;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
    background-color: $background;
    border-color: $border;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }
  > span[class*="icon"],
  > span[class*="glyphicon"]{
    padding: 10px;
  }
}