@mixin set-main-menu-link($activeClass:""){
  @if $activeClass == "active" {
    > a {
      color: $brand__link;
      background-color: transparent;

      &:before {
        background-color: $brand__violet;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 0;
        position: absolute;
        top: auto;
        width: 100%;
      }
      &:hover {
        background-color: transparent;
        color: $brand__link;
      }
      &:focus{
        background-color: $brand__violet;
        color: $white;
      }
    }
  }
  @else {
    &:before {
      @include verticalLine($brand__gray, 35%, 20%, 1px);
    }
    > a {
      color: $brand__link;

      &:hover,
      &:focus {
        color: $brand__link;
        &:after {
          background-color: $brand__violet;
          bottom: 0;
          content: "";
          display: block;
          height: 4px;
          left: 0;
          position: absolute;
          top: auto;
          width: 100%;
        }
      }
    }
  }

}

@mixin headernavigationAnimation() {

  /* small screen */
  html[class*="screen__xs"] {
    header.nav-up {
      > div {
        background-color: transparent;
      }
      // hide top and main navigation
      top:-45px;
      .menu__main {
        opacity: 0;
        top: -25px;
      }
    }
    header.nav-down {
      // hide top navigation
      // show main navigation
      top:-45px;
      .menu__main {
        opacity: 1;
        top: 0px;
      }
    }
    header.nav-top {
      // show top and main navigation

    }
  }

  /* medium and large screen */
  html.screen__md,
  html.screen__lg {

    header.nav-top {
      // show top navigation
      // show main navigation
      top:0;

      .hide__scroll--top {
        display: none;
      }
      .show__scroll--down {
        display: inline-block;
      }

      /* main menu */
      .menu__top .navbar-nav > .active {
        > a,
        > a:hover,
        > a:focus {
          @include topMenuActivBg(show);
        }
      }

      .menu__main {
        .navbar-nav {
          li {

            &:first-child:before {
              background-color: transparent;
            }

            > a {
              /*font-size: $font-size-base;
              padding: 2px 8px 10px 9px;*/
            }
          }
        }
      }
    }
    header.nav-up {
      // hide top navigation
      // show main navigation
      top: -45px;
    }
    header.nav-up,
    header.nav-down {
      .show__scroll--down {
        display: none;
      }
      .hide__scroll--top {
        display: inline-block;
      }
      /* main menu */
      .menu__top .navbar-nav > .active {
        > a,
        > a:hover,
        > a:focus {
          @include topMenuActivBg(hide);
        }
      }

      .menu__main {
        min-height: 40px;

        .navbar-nav {
          li {
            > .navbar-brand {
              height: 37px;

              > span {
                display: none;
              }
            }
            &:before {
              background-color: transparent;
            }
            > a {
              font-size: $font-size-base;
              padding: 2px 8px 10px 9px;
            }
          }
        }

        .menu__main--additional {
          > li > {
            a {
              font-size: $font-size-base + 10 !important;
              line-height: $font-size-base + 15 !important;
              padding: 0 15px !important;

              &:hover {
                &:after {
                  background-color: transparent;
                }
              }
            }
          }
        }

      }
    }

    header.nav-down {
      // show main navigation
      top: -45px;

      .show__scroll--down {
        display: none;
      }
    }

  }
}

@mixin topMenuActivBg($position:"show"){
  @if $position == "show" {
    background-color: #fff;
  }
  @else if($position == "hide") {
    background-color: transparent;
  }
}

@mixin responsiveNavigationText(){
  html[class*="screen__xs"] {
    .menu__main .navbar-nav {
      > li {
        > a {
          font-size: $font-size-base;
          padding: 22px 8px 40px 9px;
        }
      }
    }
  }
  html[class*="screen__sm"] {
    .menu__main .navbar-nav {
      > li {
        > a {
          font-size: $font-size-base;
          padding: 22px 8px 40px 9px;
        }
      }
    }
  }
  .screen__md {
    .menu__main .navbar-nav {
      > li {
        > a {
          font-size: $font-size-base + 2;
          padding: 22px 8px 40px 9px;
          line-height: 27px;
        }
      }
    }
  }
  .screen__lg {
    .menu__main .navbar-nav {
      > li {
        > a {
          font-size: $font-size-base + 6;
          padding: 22px 8px 40px 9px;
          line-height: 27px;
        }
      }

    }
  }
}

@mixin verticalLine($background:"#ff0000", $height:"30%", $top:"30%", $width:"1px"){
    background-color: $background;
    content: "";
    display: block;
    height: $height;
    left: 0;
    position: absolute;
    right: auto;
    top: $top;
    width: $width;
}