<div class="row no-gutter-grid">
	{{#services}}
	<div class="col-sm-4 col-lg-3">
		<div class="service-block">
			<figure>
				<span class="icon {{icon}}"></span>
				{{#badge}}
				<figure class="badge">
					<var class="{{badge}}">5</var>
				</figure>
				{{/badge}}
				{{^badge}}
				<figure class="badge">
					<span class="icon icon-plus"> </span>
				</figure>
				{{/badge}}
			</figure>
			<div class="content">

				<h3>
					{{title}}
				</h3>
				<p>
					{{description}}
				</p>
				<span class="status bottom success">Tellitud</span>
			</div>

		</div>
	</div>
	{{/services}}
</div>
